extends layout 

block content
  - let arr = ["/images/Avatar1.png", "/images/Avatar2.png", "/images/Avatar3.png", "/images/Avatar4.png", "/images/Avatar5.png", "/images/Avatar6.png"]

  each post in post_list
    - let random = Math.round(Math.random() * arr.length) - 1
    - while (random < 0) random = Math.round(Math.random() * arr.length) - 1
    .col-xs-12.d-flex.justify-content-center.mt-3
    div(class="card mb-3 " style="max-width: 540px;")
      .row.g-0
        .col-md-4
          img(src=arr[random], alt="avatar" class="img-fluid rounded-start")
        .col-md-8 
          .card-body
            h5.card-title #{post.title}
            p.card-text #{post.content}
            p.card-text
            if (currentUser)
              if (currentUser.isMember)
                small.text-muted Last updated #{post.dateTime} by<span class="fst-italic"> #{post.user.username}</span>
              else 
                small.text-muted Last updated #{post.dateTime} by<span class="fst-italic"> unknown</span>
              //- button(type="button" class="btn btn-outline-danger") Delete